
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
  }

.event{
    background-image: url(../../Images/bg-14.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: end;
    width: 100%;
}
.eventtime{
    display: flex;
    justify-content:center;
    align-items: center;
    background-image: url(../../Images/aa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 50%;
    
}